<div class="enemy-wrapper">
    <div class="enemy">
        <img src=" {{enemy.image}} " alt=" {{enemy.image}} " title=" {{enemy.image}} ">
        <div class="enemy-name">
            <a href="/hedgehog/enemies/{{enemy.id}}">{{enemy.name}}</a>
        </div>
    </div>
</div>