<div class="qt {{qoute.back}}">
    <div class="row">
        <div class="image">
            <img src={{qoute.image}} width="61" height="61">
        </div>
        <div class="head">
            {{qoute.name}}
            <p>
                {{qoute.whois}}
            </p>
        </div>
        <img src="images/twitter-icon.svg" class="img-t">
    </div>
    <div class="comment">
        {{qoute.comment}}
    </div>
    <div class="date">
        {{qoute.date}}
    </div>
</div>
